.text {
  background-color: #ddd;
  margin-left: 10px;
  width: fit-content;
  padding: 20px;
  display: inline-block;
  border-radius: 12px;
  /* border-left: 5px solid aqua; */
  text-decoration: none;
  text-transform: capitalize;
}