.text {
  background-color: #ddd;
  margin-left: 10px;
  width: 400px;
  min-height: 10px;
  max-height: 30px;
  padding: 20px;
  border-left: 5px solid aqua;
  text-align: center;
  direction: rtl;
}