.span1,
.span2,
.span3,
.span4 {
  background-color: #eee;
  margin-left: 10px;
  width: 400px;
  min-height: 10px;
  max-height: 30px;
  padding: 20px;
  border-left: 5px solid aqua;
  display: inline-block;
  overflow: auto;
}