* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

.clear-fix {
  clear: both;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
}

/* start home section style */

.home-section {
  background-image: url(images/hero\ img.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000ca;
}

.nav {
  height: 60px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.nav .logo {
  float: left;
  width: 40%;
  height: 100%;
}

.nav .logo a {
  text-decoration: none;
  color: #ff305b;
  font-size: 24px;
  font-weight: 800;
}

.nav .nav-links {
  float: right;
  width: 60%;
  height: 100%;
  text-align: right;
}

.nav .nav-links ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

.nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: all 0.4s ease-in-out 0s;
}

.nav .nav-links ul li a:hover {
  color: #ff305b;
}

.home-content {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.home-content .p1 {
  font-size: 24px;
  padding-top: 50px;
}

.home-content h1 {
  color: #ff305b;
  font-size: 70px;
  font-weight: bold;
}

.home-content .p2 {
  font-size: 26px;
}

/* end home section style */

/* start about section style */

.about-section {
  height: 100vh;
}

.avatar {
  width: 45%;
  height: 100%;
  float: left;
}

.avatar .img {
  position: relative;
}

.avatar .img img {
  position: absolute;
  top: 100px;
  left: 25%;
  border-radius: 8px;
  z-index: 3;
}

.img-border {
  position: relative;
  width: 360px;
  height: 440px;
  top: 80px;
  left: 20%;
  border-radius: 8px;
  border: 10px solid #555555;
  z-index: 2;
}

.personal-data {
  width: 55%;
  height: 100%;
  float: right;
  padding: 80px 0 0 60px;
}

.personal-data h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 0px 0px 25px;
  padding: 0px 0px 0px 13px;
  position: relative;
}

.personal-data h2::after {
  content: "";
  background-color: #ff305b;
  height: 50%;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.personal-data p {
  border-bottom: 1px dashed #999999;
  margin-bottom: 25px;
  padding-bottom: 25px;
  line-height: 25px;
}

.personal-data ul li {
  list-style-type: none;
  display: inline-flex;
  width: 40%;
  padding: 10px 0;
}

.personal-data ul li span {
  font-weight: bold;
}

.personal-data ul li a {
  text-decoration: none;
  color: #7E7E82;
}

.personal-data button {
  padding: 10px 24px;
  color: #fff;
  background-color: #ff305b;
  border-radius: 5px;
  border: none;
  margin: 10px 10px 0 0;
  font-size: medium;
}

.personal-data button i {
  padding-left: 5px;
}

.personal-data button:hover {
  background-color: #EC2403;
}

@media screen and (max-width: 768px) {
  
  .about-section {
    height: 220vh;
  }

  .avatar, .personal-data {
    width: 100%;
  }

  .personal-data {
    padding: 8px 0 0 8px;
    position: relative;
    top: -700px;
  }

  .personal-data ul li {
    display: block;
    width: 100%;
  }

  .avatar .img img {
    left: 8%;
  }

}

@media screen and (min-width: 769px) and (max-width: 991px) {
  
  .about-section {
    height: 350vh;
  }

  .avatar {
    width: 45%;
  }
  
  .avatar .img {
    position: relative;
  }
  
  .img-border {
    left: 3%;
    height: 352px;
    width: 288px;
  }

  .personal-data {
    padding: 8px 0 0 8px;
    position: relative;
    top: 500px;
  }

  .personal-data ul li {
    display: block;
    width: 100%;
  }

  .avatar .img img {
    left: 8%;
    width: 100%;
  }

}

/* end about section style */

/* start services section style */



/* end services section style */

/* start services section style */

.service-section {
  height: 85vh;
  background-color: #F1F1F1;
}

.service-title h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 20px;
}

.line1, .line3 {
  width: 60px;
  height: 1px;
  background-color: #ff305b;
  margin: auto;
  margin-bottom: 5px;
}
.line2 {
  width: 100px;
  height: 1px;
  background-color: #ff305b;
  margin: auto;
  margin-bottom: 5px;
}

.service-card .card {
  width: 25%;
  height: 280px;
  padding: 40px 20px 20px;
  float: left;
  text-align: center;
  margin-top: 40px;
}

.service-card .card h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

.service-card .card i {
  font-size: 30px;
}

.service-card .card i, .service-card .card h3, .service-card .card p {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .service-card .card {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .service-card .card {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .service-card .card {
    width: 50%;
  }
}  

@media screen and (min-width: 992px) {
  .service-card .card {
    width: 25%;
  }
}

/* end services section style */

/* start Portfolio section style */

.portfolio-header h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 20px;
}

.portfolio-header .line3 {
  margin-bottom: 60px;
}

.img-card {
  width: 33.333%;
  height: 300px;
  padding: 15px;
  float: left;
}

.img-card img {
  width: 100%;
  height: 100%;
  z-index: 2;
}


/* end Portfolio section style */