/* start shared style */

* {
  font-family: "alegreya", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 90%;
  margin: auto;
}

.clear-fix {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}

/* end shared style */

/* start home page style */

.home {
  height: 105vh;
  background-image: url("images/drew-coffman-1872.jpg");
  background-size: cover;
  background-position: center;
}

.nav {
  padding-top: 15px;
  height: 80px;
}

.nav .logo {
  height: 100%;
  width: 60%;
  float: left;
}

.nav .nav-links {
  height: 100%;
  width: 40%;
  float: right;
  padding-top: 30px;
}

.nav-links ul li {
  float: left;
  width: 16%;
  font-size: 20px;
}

.logo img {
  height: 100%;
}

.container .home-content {
  color: white;
  width: 55%;
}

.home-content {
  text-align: center;
  width: 68%;
  margin: auto;
  padding-top: 100px;
}

.home-content p,
h2,
button {
  margin-bottom: 20px;
}

.home-content p {
  font-size: 24px;
  line-height: 44px;
}

.home-content h2 {
  font-size: 76px;
}

.learn-more,
.contact-us {
  padding: 15px 28px;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 18px;
  color: white;
}

.learn-more {
  background-color: #8e7754;
}

.contact-us {
  background-color: transparent;
  border: 1px solid white;
}

.scroll-button {
  height: 40px;
  width: 20px;
  border: 3px solid white;
  border-radius: 12px;
  position: absolute;
  top: 85vh;
  left: 50%;
}

.scroll-button-circle {
  height: 0px;
  width: 0px;
  border: 5px solid white;
  border-radius: 10px;
  display: inline-block;
  transition: display 2s 2s ease-in;
}

/* end home page style */

/* start about page style */

.about-page {
  height: 120vh;
  padding-top: 100px;
}

.about-img {
  width: 50%;
  float: left;
}

.about-img img {
  width: 100%;
}

.about-content {
  width: 50%;
  height: 100%;
  float: right;
  padding: 100px 70px;
}

.about-title,
.about-p,
li {
  margin-bottom: 20px;
}

.topic-icon {
  width: 7%;
  border: 2px solid #8e7754;
  border-radius: 20px;
  display: inline-block;
}

.topic-p {
  display: inline-block;
  width: contact;
}

.about-content h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li p {
  position: relative;
  top: -13px;
  padding-left: 10px;
}

/* end about page style */

/* start location page style */

.location-page {
  height: 120vh;
  padding-top: 100px;
  background-color: #eee;
}

.location-img {
  width: 50%;
  float: right;
}

.location-img img {
  width: 100%;
}

.location-content {
  width: 50%;
  height: 100%;
  float: left;
  padding: 100px 70px 0 10px;
  line-height: 35px;
}

.location-title,
.location-p1,
.location-p2 {
  margin-bottom: 30px;
}

/* end location page style */

/* start baking page style */

.baking-page {
  height: 120vh;
}
.baking-title {
  font-size: 30px;
  font-weight: 400;
}

.baking-page .container {
  text-align: center;
  padding-top: 100px;
}

.card {
  width: 30%;
  float: left;
  margin-left: 2.5%;
  padding-top: 40px;
}

.card img {
  width: 100%;
}

.baking-title,
.baking-p,
.baking-cards img,
h3 {
  line-height: 25px;
  margin-bottom: 30px;
}

/* end location page style */

/* start contact page style */

.contact-page {
  height: 120vh;
  padding-top: 100px;
  background-color: #eee;
}

.contact-img {
  width: 50%;
  float: right;
}

.contact-img img {
  width: 100%;
}

.contact-content {
  width: 50%;
  height: 100%;
  float: left;
  padding: 100px 70px;
}

.contact-title,
.contact-p,
li,
.p2 {
  margin-bottom: 20px;
}

.contact-content .topic-icon {
  width: 7%;
  background-color: #8e7754;
  border-radius: 20px;
  display: inline-block;
}

.topic-p {
  display: inline-block;
  width: 90%;
}

.contact-content h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li p {
  position: relative;
  top: -13px;
  padding-left: 10px;
}

/* end contact page style */

/* start footer page style */

.footer {
  background-color: #403D38;
  height: 70vh;
  color: #969696;
}

.footer-one div {
  width: 25%;
  height: 100%;
  float: left;
  padding-top: 50px;
}

.footer-one div h4{
  color: white;
  margin-bottom: 30px;
}

.about-f {
  padding-right: 30px;
}

.footer-two {
  background-color: #353330;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.footer-two a img {
  background-color: #484540;
  width: 40px;
  border-radius: 25px;
  margin: 5px;
}

.footer-two img,
.footer-two p,
.footer-two a {
  margin-bottom: 30px;
  text-decoration: none;
}

/* end footer page style */
